<launch>
    <arg name="door_config_file" default=""/>
    <arg name="explicit_doors" default="true"/>
    <arg name="forget_doors" default="true"/>
    <arg name="model_fatal_fails" default="true"/>
    <arg name="nav_before_action_exec" default="true"/>

    <arg name="estimator_port" default="8087"/>
    <arg name="executor_port" default="8088"/>
    <arg name="estimator_dir" default="/tmp/prism-robots/guarantees_estimator/"/>
    <arg name="executor_dir" default="/tmp/prism-robots/policy_executor/"/>
    <arg name="prism_model_file" default="topo_map.mdp"/>
    <arg name="javamaxmem" default="4g"/>
    



    <param name="mdp_plan_exec/door_wait_params_file" type="string" value="$(arg door_config_file)"/>
    <param name="mdp_plan_exec/explicit_doors" type="bool" value="$(arg explicit_doors)"/>
    <param name="mdp_plan_exec/forget_doors" type="bool" value="$(arg forget_doors)"/>
    <param name="mdp_plan_exec/model_fatal_fails" type="bool" value="$(arg model_fatal_fails)"/>
    <param name="mdp_plan_exec/nav_before_action_exec" type="bool" value="$(arg nav_before_action_exec)"/>
    
    <node pkg="prism_strands" type="prism" name="prism_estimator"  output="screen" args="$(arg estimator_port) $(arg estimator_dir) $(arg prism_model_file) -javamaxmem $(arg javamaxmem)" respawn="true"/>
    <node pkg="prism_strands" type="prism" name="prism_executor"  output="screen" args="$(arg executor_port) $(arg executor_dir) $(arg prism_model_file) -javamaxmem $(arg javamaxmem)" respawn="true"/>

    <node pkg="mdp_plan_exec" type="mdp_task_guarantees_estimator.py" name="mdp_task_guarantees_estimator"  output="screen" args="$(arg estimator_port) $(arg estimator_dir) $(arg prism_model_file)"/>
    <node pkg="mdp_plan_exec" type="mdp_robot_policy_executor.py" name="robot_mdp_policy_executor"  output="screen" args="$(arg executor_port) $(arg executor_dir) $(arg prism_model_file)"/>
</launch>
