<launch>
  <arg name="interruptible_wait" default="true"/>
  <arg name="combined_sort" default="false"/>
  <arg name="close_windows" default="true"/>
  <arg name="allowable_lateness" default="300"/>
  <arg name="door_config_file" default=""/>
  
  <!-- run mdp plan exec -->
  <include file="$(find mdp_plan_exec)/launch/mdp_plan_exec_extended.launch">
    <arg name="door_config_file" value="$(arg door_config_file)"/>
  </include>

  <!-- mdp task system using mdp navigation -->
  <node pkg="task_executor" type="mdp_task_executor.py" name="mdp_task_executor"  output="screen">
    <param name="nav_service" type="string" value="mdp" />
    <param name="combined_sort" type="bool" value="$(arg combined_sort)" />
    <param name="close_windows" type="bool" value="$(arg close_windows)" />
    <param name="allowable_lateness" type="int" value="$(arg allowable_lateness)" />
  </node>
  
    <!-- Utility node used for generating wait behaviours -->
  <node pkg="wait_action" type="wait_node.py" name="wait_action"  output="screen">    
    <param name="interruptible" type="bool" value="$(arg interruptible_wait)" />
  </node>

</launch>
