<launch>
  <arg name="scheduler_version" default="4"/>
  <arg name="interruptible_wait" default="true"/>

  <node pkg="scheduler" type="scheduler_node" name="schedule_server"  output="screen">
    <param name="scheduler_version" type="int" value="$(arg scheduler_version)"/>
  </node>

  <!-- task system using topological navigation -->
  <node pkg="task_executor" type="scheduled_task_executor.py" name="scheduled_task_executor"  output="screen">
  	  <param name="nav_service" type="string" value="topological_nav" />
  </node>

  <!-- node which determines whether navigation should be strict with timings -->
  <node pkg="task_executor" type="nav_relaxant.py" name="nav_relaxant"  output="screen">
  	<!-- How many nav stats per edge are sufficient for us to trust the estimate -->
    <param name="count_threshold" type="int" value="5" />
  </node>

    <!-- Utility node used for generating wait behaviours -->
  <node pkg="wait_action" type="wait_node.py" name="wait_action"  output="screen">    
    <param name="interruptible" type="bool" value="$(arg interruptible_wait)" />
  </node>

</launch>
