<launch>

  <node pkg="scheduler" type="scheduler_node" name="scheduler"  output="screen"/>

  <node pkg="task_executor" type="scheduled_task_executor.py" name="scheduled_task_executor"  output="screen"/>

  <!-- This allows waiting to happen. It's not very interesting but is useful for testing -->
  <node pkg="wait_action" type="wait_node.py" name="wait_node"  output="screen"/>

</launch>